@model ProfileViewModel
<script>
    function OnFirst() {
        document.getElementById('pages-input').value = 1;
        document.getElementById("pages-form").submit();
    }
    function OnPrevious() {
        document.getElementById('pages-input').value = @(Model.Pages.PageNumber - 1);
        document.getElementById("pages-form").submit();
    }
    function OnNext() {
        document.getElementById('pages-input').value = @(Model.Pages.PageNumber + 1);
        document.getElementById("pages-form").submit();
    }
    function OnLast() {
        document.getElementById('pages-input').value = @(Model.Pages.TotalPages);
        document.getElementById("pages-form").submit();
    }
</script>

<section class="box">
    <div class="container col-8-medium">
        <div class="row aln-center gtr-uniform">
            <div style="width:1000px">
                <div style="background-color: #ffffff; padding:1em; margin-bottom:1em; width:1000px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>Ваш текущий статус: @Model.Account.Status</h5>
                            <h5 style="margin:0">Ваш почтовый адрес: @Model.Account.Email</h5>
                        </div>
                        @if (User.IsInRole("admin") || User.IsInRole("librarian"))
                        {
                            <div class="col-3 align-center aln-center" style="align-self: center;"><a class="button small" asp-action="ChangePassword" asp-controller="Account">Изменить пароль</a></div>
                            <div class="col-3 align-center aln-center" style="align-self: center;"><a class="button small" asp-action="Create" asp-controller="Book">Добавить книгу</a></div>
                        }
                        <div class="col-3 align-center aln-center" style="align-self: center;"></div>
                        <div class="col-3 align-center aln-center" style="align-self: center;"><a class="button small" asp-action="ChangePassword" asp-controller="Account">Изменить пароль</a></div>
                    </div>
                </div>
                <div style="background-color: #ffffff; padding:1em;  width:1000px;">
                    <div class="row aln-center">
                        <h3>Избранное</h3>
                    </div>
                    @foreach (ShortBookViewModel book in Model.Favorites)
                    {
                        @await Html.PartialAsync("~/Views/Shared/ShortBookPartial.cshtml", book);
                    }
                    <form asp-controller="Profile" asp-action="Profile" id="pages-form" style="margin:0">
                        <input type="hidden" asp-for="Pages.PageNumber" id="pages-input" />
                        <div class="row">
                            <div class="col-2">
                                @if (Model.Pages.HasPreviousPage)
                                {
                                    <input type="button" class="small" value="На первую" onclick='OnFirst()' />
                                }
                            </div>
                            <div class="col-2">
                                @if (Model.Pages.HasPreviousPage)
                                {
                                    <input type="button" class="small" value="Предыдущая" onclick='OnPrevious()' />
                                }
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-2">
                                @if (Model.Pages.HasNextPage)
                                {
                                    <input type="button" class="small" value="Следующая" onclick='OnNext()' />
                                }

                            </div>
                            <div class="col-2">
                                @if (Model.Pages.HasNextPage)
                                {
                                    <input type="button" class="small" value="На последнюю" onclick='OnLast()' />
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
